*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

.idea/
*.xml
*_local.go
*_local.toml
vendor/*
*.log
static/avatars/*
static/files/*
web/chat-server/src/assets/cert/*
internal/service/kafka/start.bat
*.sh
*.ext